// GRID HELPERS
$full:        		100%;
$half:        		100% / 2;

// Column Padding
$col-outside-padding: 		10px;
$col-inside-padding:		20px;

// Grid widths
$start:       		1;
$end:         		12;

// GRID WIDTH
$grid-width: 		100%;

// Demo Colors
$lk-color:	#CCC;